.section-carrossel {
  position: relative;
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--body-color);
}

.carousel-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;


  p {
    font-family: "Corben", sans-serif;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 50;
  }

  h1 {
    font-size: 60px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
  }

}





.swiper {
  width: 90%;
  height: 50vh;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-carrossel .card .image img {
  height: 240px;
  width: 350px;
  object-fit: cover;
  border-radius: 16px;
}

.card {
  position: relative;
  border-radius: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 250px;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.name-profession .name {
  font-size: 23px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: var(--card-color);
  padding: 10px;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: var(--primary-color);
}

.swiper-button-next,
.swiper-button-prev {
  color: #FFFF !important;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--text-color) !important;
}