.section-chefs {
    background-color: #7DCD38;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-items: center;

    .wave-chefs path {
        fill: #7DCD38;
        width: 100%;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;

        p {
            font-family: "Corben", sans-serif;
            color: #fff;
            letter-spacing: 2px;
           
        }

        h1 {
            font-size: 60px;
            color: #fff;
            font-family: "Montserrat", sans-serif;
            letter-spacing: 3px;
        }
    }

    .chefs-container {
        display: flex;

        .chef {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 100vw;
            gap: 10%;

            .chef-info {
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 2rem;
                    color: #fff;
                    font-family: "Montserrat", sans-serif;

                }

                .p-chefs {
                    font-size: 1.1rem;
                    color: #fff;
                    font-family: "Montserrat", sans-serif;
                    
                }

            }

            .chef-image {
                height: 300px;
                width: 300px;
                border-radius: 50%;
                background-color: #fff;
                border: solid 5px #FF0000;
                display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
                    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }

}