
.section-chefs{
    background-color: #7DCD38;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80vh;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2%;

            p{
                font-family: "Corben", sans-serif;
                color: #fff;
                letter-spacing: 2px;
                font-weight: 100;
            }

            h1{
                font-size: 3.5rem;
                color: #fff;
                font-family: "Montserrat", sans-serif;
                letter-spacing: 3px;
            }
    }

    .chefs-container{
        display: flex;
        margin-top: -5%;

        .chef{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 100vw;
            gap: 30%;

            .chef-info{
                display: flex;
                flex-direction: column;

                 h2{
                    font-size: 2rem;
                    color: #fff;
                    font-family: "Montserrat", sans-serif;
                    /* letter-spacing: 2px; */
                 }

                 .p-chefs {
                    font-size: 1.3rem;
                    color: #fff;
                    font-family: "Montserrat", sans-serif;
                    font-weight: bold; /* Ou um valor numérico, como 700 */
                }
            }
            .chef-image{
                height: 300px;
                width: 300px;
                border-radius: 50%;
                background-color: #fff;
                border: solid 5px #FF0000;

            }

        }
    }
}