@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Corben:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0%;
  }

:root {
    --cor-fundo-home: #FF0000;
    --text-color: #FFFF;
    --cor-fundo-botao-home: #4d0000;
    --cor-fundo-sessao: #C26700;
    --cor-fundo-section: #FFD940;
    --cor-fundo-input: rgb(226, 231, 236);
    --cor-botao: #F4C300;
    --cor-botao-hover: #d4a200;
    --cor-fundo-contato: #a10000;
    --cor-texto-branco: white;
    --cor-sombra-texto: #0000003b;
    --cor-preto: black;
    --cor-cinza-claro: lightgray;
    --body-color: #360000;
    --primary-color: #7d2ae8;
    --card-color: #fff;
    --media-color: #fff;
    --text-color: #333;
    --text-color2: #fff;
    --swiper-color: #000000;
    --background-footer: #C26700;
    --hover-color: #cecdcd;
    --button-bg-color: #D9D9D9;
    --button-hover-opacity: 0.8;
    --cor-fundo-section-color: #EDEDED;
    --cor-fundo-form: #FFFF;
    --cor-fundo-input-box: #D9D9D9;
    --cor-botao-ativo: #A2DC00 ;
    --cor-fundo-imagem-foodtruck: #FFD900 ;
/*------------------------------- Dark-mode ---------------------------------------*/ 

--dark-mode-pao: #452500;
--dark-mode-queijo: #e9bb04;
--dark-mode-hamburguer: #2C0000;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.funcionalidadesHeader{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    }
    
    .funcionalidadesHeader img{
    width: 50%;
    height: 50%;
    object-fit: cover; 
    }

    body.dark-mode .Home{
        background-color: #7D0000;
    }    
    body.dark-mode .container-sobreNos {
    background-color: var(--dark-mode-pao) !important;
    }
    body.dark-mode .sobreNosTexto h2{
        color: var(--cor-fundo-form);
    }

    body.dark-mode .sobreNosTexto p{
        color: var(--cor-texto-branco);
    }

    body.dark-mode .wave-sobreNos {
        background-color: var(--dark-mode-pao);
    }
    
    body.dark-mode .wave-sobreNos path {
        fill: var(--dark-mode-queijo);
    }
    
    body.dark-mode .chefs-container {
        background-color: var(--dark-mode-queijo);
    }
    
    body.dark-mode .wave-chefs path{
        fill: var(--dark-mode-queijo);;
    }
    
    body.dark-mode .section_5{
        background-color:var(--dark-mode-queijo);;
    }
    
    body.dark-mode .contato_5{
        background-color: var(--dark-mode-hamburguer);
    }
    
    body.dark-mode .wave-contato {
        background-color: var(--dark-mode-pao); 
    }
    
    body.dark-mode .wave-contato path {
        fill: var(--dark-mode-hamburguer); 
    }
    
    body.dark-mode footer{
        background-color: var(--dark-mode-pao);
    }
    
    body.dark-mode .footer-direitos{
        background-color: var(--dark-mode-pao);
    }

    body.dark-mode #loginAplicacao{
        color: var(--cor-texto-branco);
    }